body{
    font-family:Helvetica;
}

ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li{
    list-style:circle;
}

.list{
    list-style:square;
}

#msg{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}